/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-columns:repeat(40,1fr);
	background-color:black;
	gap:3px;
	border:20px solid black;
}
.square{
	
	background-color:#1d1d1d;
	width:13px;
	height:13px;
	display:inline-block;
	transition:1s;
}
.square:hover{
	background:red;
	transition: red 2s ease;
	
}